
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
.filters {cursor:pointer;}
 
.no-js #bd .filters {width: 100% !important; float: none;}
 
.no-js #bd .filters + img { display: none;}
 
.currentFilter {cursor:auto;}
 
.filters h2 {position: absolute; bottom: 20px; left: 20px; font-size: 0.7em; font-weight: normal; text-decoration: none; color: white;}
 
.es .filters h2, .fr .filters h2{font-size:0.3em; top: 27px;}
 
.es #vehicleFilter h2, .fr #vehicleFilter h2{padding-top: 15px;}
 
.filters h2 small {display: block; font-size: 12px; line-height: 25px;}
 
.filters h2 em {font-size: 36px; font-weight: lighter; font-style: normal; letter-spacing: -1px;}
 
 
.es .filters h2 em, .fr .filters h2 em {font-size: 26px; font-weight: lighter; font-style: normal; letter-spacing: -1px;}
 
.currentFilter.filters h2 small {line-height: 5px;}
 
.lt-ie9 .currentFilter.filters h2 small {line-height: 10px; display: block;}
 
.lt-ie9 .currentFilter h2 { bottom:36px; line-height: 42px; height: 50px;}
 
.lt-ie9 .fr .currentFilter h2, .lt-ie9 .es .currentFilter h2 {line-height: 20px;}
 
.lt-ie9 .filters h2 { bottom:22px; }
 
.filters .field {
    float: left;
    width: 150px;
    height: 19px;
    padding: 17px 0;
    margin: 33px 0 0 0;
    text-align: center;
    border-left: thin solid #309190;
    position: relative;
    z-index: 90;
}
 
.tpms-checkbox{
    float: left;
    clear: both;
    margin-top: 7px;
    font-size: 10px;
    text-transform: uppercase;
    display: none;
}
 
.tpms-checkbox a{
    color: #fff;
}
 
.tpms-checkbox abbr{
    display: inline !important;
    margin: 0 2px !important;
    padding: 0;
    vertical-align: middle;
    font-size: 1.2em !important;
    color: #fff !important;
}
 
.tpms-checkbox input{
    margin: 1px 4px 0 3px;
}
 
.tpms-sizes{
    display: block !important;
}
 
.fr #filterByBrand .field, .es #filterByBrand .field {width: 210px;}
 
.filters .field.year, .filters .field.width, .filters .field.subBrand, .filters .field.brand { border-left: 0 none;}
 
.filters .field.year { width:86px; }
 
.filters .field.trim { border-right: thin solid #309190; margin-right:10px; }
 
.fr .filters .field.aspectRatio, .es .filters .field.aspectRatio {width: 180px;}
 
.field.disabled{z-index:1 !important;}
 
.filters input.disabled, .filters .disabled label {cursor: default; text-decoration: none;}
 
.filters #submit-vehicleFilter,
.filters #submit-filterBySize,
.filters #submit {-moz-box-shadow:2px 2px 4px #00706e; -webkit-box-shadow:2px 2px 4px #00706e; box-shadow:2px 2px 4px #00706e; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#018d8b', endColorstr='#018c8a'); /* for IE */     background: -webkit-gradient(linear, left top, left bottom, from(#018d8b), to(#018c8a)); /* for webkit browsers */  background: -moz-linear-gradient(top,  #018d8b,  #018c8a); /* for firefox 3.6+ */ background-color:#018d8b; }
 
.no-touch .filters #submit-vehicleFilter:hover {background-color: #41acaa; background-image: -webkit-gradient(linear, left top, left bottom, from(#41acaa), to(#099392)); background-image: -webkit-linear-gradient(top, #41acaa, #099392); background-image: -moz-linear-gradient(top, #41acaa, #099392);  background-image: -o-linear-gradient(top, #41acaa, #099392);  background-image: linear-gradient(to bottom, #41acaa, #099392); filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#41acaa', EndColorStr='#099392');}
 
.filters b.blocker { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: url('../img/catalog_filter_loader.gif') 50% 50% no-repeat; }
 
#filters {width: 1060px; overflow: hidden; position: relative;}
 
#filters > div {width:10000px;}
 
#or1 {float: left;  left: -9px;  margin: 49px 0 0;  position: relative; z-index: 80;}
 
#sizeFilter {float:left; position:relative; top:0; left:-17px; z-index:90px; overflow:hidden; width:135px; height:90px; margin-top:25px;  margin-bottom:10px; background-color:#00b0ad; color:#fff;}
 
#sizeFilter h2, #brandFilter h2 {bottom: 0;}
 
#sizeFilter h2 small, #brandFilter h2 small {font-size: 12px; line-height: 10px;}
 
.es #sizeFilter h2 small, .fr #sizeFilter h2 small, .es #brandFilter h2 small, .fr #brandFilter h2 small {margin-bottom: 5px;}
 
#sizeFilter h2 em, #brandFilter h2 em {font-size: 24px;}
 
.es #sizeFilter h2 em, .es #brandFilter h2 em, .fr #sizeFilter h2 em, .fr #brandFilter h2 em{font-size:17px; line-height: 16px;}
 
 
#sizeFilter abbr, #brandFilter abbr, #vehicleFilter abbr{color: #FFFFFF; display: block; font-size: 1.5em; line-height: 1em; margin-left: 16px; margin-top: 9px;}
 
 
#vehicleFilter abbr{display:none;}
 
#filterBySize {position:absolute; top:0; left:160px; width:609px;}
 
.es #filterBySize {left: 140px; width: 629px;}
 
#or2 {float: left;  left: -26px;  margin: 55px 0 0;  position: relative; z-index: 80;}
 
#brandFilter {float:left; position:relative; top:0;  left:-34px; z-index:90px; overflow:hidden; width:135px; height:90px; margin-top:25px; background-color:#5ac4be; color:#fff;}
 
#filterByBrand {position:absolute; top:0; left:260px; width:512px;}
 
#filterByVehicle {position:absolute; top:0; left:132px; width:655px;}
 
.filters input.clear {background:none; border: 0; color: #FFFFFF; text-transform:uppercase; text-decoration:underline; font-family: "Helvetica",sans-serif; font-size: 0.6em; position: absolute; right: 5px; top: 91px;}
 
#vehicleFilter {float:left; position:relative; top:0; left:0; overflow:hidden; width:790px; height:115px; background-color:#007876; color:#fff; margin-bottom:10px;}
 
#filterBySize abbr.modalize{color: #FFFFFF; cursor: pointer; display: block !important; float: left; font-size: 1.5em; height: 23px; line-height: 0.9em; margin-top: 34px; position:relative; left:-10px; width: 20px;}
 
.es #filterBySize abbr.modalize {left: 36px;}
 
.lt-ie9 .es #filterBySize abbr.modalize {left: 20px;}
 
.lt-ie9 .fr #filterBySize abbr.modalize {left: 5px;}
 
#filterBySize .btnSubmit{ margin:33px 0 0 10px !important;}
 
.es #filterBySize .btnSubmit {margin-left: 40px !important;}
 
.lt-ie9 .es #filterBySize .btnSubmit {margin-left: 25px !important;}
 
.lt-ie9 .fr #filterBySize .btnSubmit {margin-left: 10px !important;}
 
.btnSubmit {width:70px; height:22px; color:#fff; border:none; padding:3px 0 0 0; margin:32px 0 0 0; font-family: "Helvetica",sans-serif; font-size: 0.7em; text-align:center; text-transform:uppercase;}
 
 
#advancedDropDown{background-color: #D1D3D4; clear: both; margin-bottom: 15px; padding-bottom: 1px; width: 1060px;}
 
#advancedSearch span{color: #767676; font-size: 0.7em; padding-left: 6px;}
 
#advancedSearch img {float:right; padding:8px 10px 0 0;}
 
.lt-ie8 #advancedSearch img {margin-top:-20px;}
 
#advancedSearch.cold img {display:none;}
 
#advancedSearch.cold{cursor:default !important;}
 
#advancedSearch .close {background-color: #4DBDEC; cursor: pointer; display: none; float: right; font-size: 1.5em; line-height: 0.9em; margin-top: -5px; padding: 4px; width: 25px; text-align: center;}
 
.lt-ie8 #advancedSearch .close {margin-top:-24px;}
 
#advancedContanier {background-color: #D1D3D4; width:1060px; margin-bottom: 52px; display:none;}
 
#advancedForms.collapsed {padding: 0 0 15px 15px !important;}
 
#advancedForms.collapsed input[type='checkbox']:checked+label, #bd #advancedSearch .collapsed input.checked + label {display:block; clear:both;}
 
#advancedForms.collapsed label {display:none}
 
#advancedForms.collapsed a {display:none;}
 
#advancedForms.collapsed input[type='checkbox'].zero, #advancedForms.collapsed input[type='checkbox'].zero+label {display: none;}
 
#advancedForms.collapsed input[type='checkbox'] {display: none;} 
 
#advancedForms {position:relative; top:35px; left:0px;  background-color: #D1D3D4; color: #000000; font-family: "Helvetica",sans-serif; font-size: 0.7em;  padding:0 0 0 15px; width: 1045px; background-image:url("../img/advancedSearchDB.jpg");}
 
#filterVehicleAdvanced > div{float: right; padding: 0 0 0 20px; width: 142px; margin-top:-35px;}
 
#advancedForms div>abbr{color:#4DBDEC; cursor: pointer; float: left; margin:3px 0 0 -23px; font-size: 2em; height: 23px; line-height: 0.9em; width: 25px;}
 
#advancedForms div>div{margin-top: 5px; margin-left:9px; width:100%; zoom : 1;}
 
#advancedForms div.last>div{border:none !important;}
 
#advancedForms strong{font-family: "alternate-gothic-no-3-d",sans-serif; color:#555555; text-transform: uppercase; font-size:1.4em; font-weight:normal; display: inline-block; padding:3px 0 4px 0;}
 
#advancedForms label{clear: right; display: block; float: left; font-family: "Helvetica",sans-serif; font-size: 0.9em; margin:2px 0 5px 0; overflow : hidden; _height : 1%; zoom : 1; line-height: 1em;}
 
.es #advancedForms label, .fr #advancedForms label{white-space: nowrap;}
 
#advancedForms input[type="checkbox"]{display: block;  float: left; clear:left;  margin-right: 5px;}
 
 
.lt-ie8 #advancedForms label{display: inline-block; float:none; clear:none; vertical-align: middle; *display: inline; *zoom:1; width:105px;}
 
.lt-ie8 #advancedForms input[type="checkbox"]{display: inline-block; float:none; clear:none; vertical-align: middle; *display: inline; *zoom:1;}
 
 
#advancedForms input[type="submit"]{box-shadow: none !important; font-size: 0.9em; left: -35px; position: relative; top: 183px; width: 70px;}
 
#advancedForms a{font-size: 0.95em; left: 1016px; position: absolute; text-decoration: underline; text-transform: uppercase;  bottom: -14px;}
 
.fr #advancedForms a {left: 987px;}
 
.es #advancedForms a {left: 1008px;}
 
 
/* Custom Checkboxes */
:not(.lt-ie9) #advancedForms label{background-image:url("../img/checkBox.jpg"); background-repeat: no-repeat; background-position: top left; text-indent: 20px; clear:left;}
 
:not(.lt-ie9) #advancedForms input[type='checkbox']:checked + label, :not(.lt-ie9)#advancedForms input[type='checkbox'].checked + label {background-position: bottom left !important;}
 
:not(.lt-ie9) #advancedForms input[type='checkbox']{display:none !important;}
 
 
#filterVehicleAdvancedClear{display:none;}
